@import "../css/reset";

@import "./variables.scss";
@import "./mixins.scss";
@import "./components/logo.scss";
@import "./components/menu.scss";
@import "./components/pagination.scss";
@import "./components/loading.scss";
@import "./components/article.scss";

body {
    font-family: Roboto, sans-serif;
    color: $text_color;
    font-weight: 300;
}

header.Header, main, footer {
    background-color: $content_background;
    max-width: 800px;
    margin: 0 auto;
}

.Header {
    display: flex;
    align-items: center;
    padding-top: 80px;

    @media all and ($tablet_mq) {
        flex-direction: column;
    }
}

.Footer {
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-in-appear,
.slide-in-enter {
    opacity: 0;
    transform: translateX(100%);
}

.slide-in-appear.slide-in-appear-active,
.slide-in-enter.slide-in-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.2s ease-out;
}

.slide-in-leave {
    opacity: 1;
    transform: translateX(0);
}

.slide-in-leave.slide-in-leave-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.2s ease-out;
}