@mixin article-color($name, $color) {
    &--#{$name} &__content {
        a {
            border-bottom: 1px solid $color;
            &:hover {
                color: $color;
            }
        }
        blockquote {
            border-color: $color;
        }
        h1, h2, h3, h4, h5, h6 {
            color: $color;
        }
        hr {
            border-color: $color;
        }
    }
    &--#{$name} &__header {
        background-color: $color;
    }
    &--#{$name} &__header &__meta__format {
        color: $color;
    }
}

@mixin menu-item-color($name, $color) {
    &__item--#{$name}.current-menu-item a, &__item--#{$name} a:hover {
        color: #ffffff;
        background-color: $color;
    }
}