/* Colors */
$blue: #1eadff;
$red: #fa3939;
$green: #5f9f34;
$yellow: #ffd633;

$primary: $red;

$container_background: #cccccc;
$content_background: #ffffff;

$text_color: #2A363B;

/* Responsive */
$tablet: 950px;
$phablet: 600px;
$mobile: 440px;

$tablet_mq: "max-width: #{$tablet}";
$phablet_mq: "max-width: #{$phablet}";
$mobile_mq: "max-width: #{$mobile}";

/* Misc */
$footer_height: 100px;