.LoadingIndicator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-top: 80px;

    & p {
        font-size: 20px;
        color: $red;
    }

    & img {
        -webkit-animation: spin 1s infinite linear;
        -moz-animation: spin1 2s infinite linear;
        -ms-animation: spin1 2s infinite linear;
        -o-animation: spin1 2s infinite linear;
        animation: spin 1s infinite linear;
        width: 50px;
        height: auto;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}
@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}
@-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
