.Logo {
    flex: 1;

    &__image {
        width: 80px;
        height: auto;
        margin-right: 20px;
    }

    &__link {
        text-decoration: none;
        color: $text_color;
        display: flex;
        align-items: center;
    }

    &__text{
        font-size: 20px;
    }
}