.MainMenu {
    display: flex;
    justify-content: flex-end;

    &__item+&__item {
        padding-left: 10px;
    }

    &__item a {
        font-size: 20px;
        color: $text_color;
        text-decoration: none;
        padding: 5px 10px;
        border-bottom: 2px solid $red;

        &:hover {
            color: $red;
        }
    }

    &__item&__item--green a {
        border-bottom: 2px solid $green;

        &:hover {
            color: $green;
        }
    }
}