@import '../vendor/hamburgers/hamburgers.scss';

.hamburger {
    display: none;

    @media all and ($phablet_mq) {
        display: inline-block;
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 100;
        outline: none;

    }
}

nav {
    flex: 1;

    @media all and (max-width: $tablet) and (min-width: $phablet) {
        display: flex;
        width: 100%;
    }
}

.MainMenu {
    display: flex;
    justify-content: flex-end;

    @media all and (max-width: $tablet) and (min-width: $phablet) {
        margin-top: 50px;
    }

    @media all and ($phablet_mq) {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: $red;
        transform: translateY(-100%);
        transition: transform ease .25s;
        z-index: 99;

        &.open {
            transform: translateY(0);
        }
    }

    &__item+&__item {
        padding-left: 10px;

        @media all and ($phablet_mq) {
            padding: 0;
            margin-top: 15px;
        }
    }

    &__item {
        @media all and ($phablet_mq) {
            width: 80%;

            &.current-menu-item, &:hover {
                background-color: rgba($text_color, 0.75);
            }
        }
    }

    &__item a {
        font-size: 20px;
        color: $text_color;
        text-decoration: none;
        padding: 10px 15px;
        background-color: transparent;
        display: inline-block;

        @media all and ($phablet_mq) {
            width: 100%;
            text-align: center;
            color: rgba($text_color, 0.75);
            box-sizing: border-box;
        }
    }

    @media all and (min-width: $phablet) {
        &__item.current-menu-item a, &__item a:hover {
            color: #ffffff;
            background-color: $red;
            transition: all ease .5s;
        }
        @include menu-item-color('red', $red);
        @include menu-item-color('yellow', $yellow);
        @include menu-item-color('blue', $blue);
        @include menu-item-color('green', $green);
    }

    @media all and ($phablet_mq) {
        &__item.current-menu-item a, &__item a:hover {
            color: $primary;
        }
    }
}