.Page {

    margin-top: 80px;

    &__header {
        background-color: $red;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 230px;
    }

    &__title {
        text-align: center;
        font-size: 50px;
        color: #ffffff;
    }

    &__content {
        font-size: 20px;
        line-height: 30px;
        margin-top: 50px;
    }

    &__content a {
        color: $text_color;
        text-decoration: none;
    }

    /*
     *  Blue
     */
    &--blue blockquote {
        border-color: $blue;
    }
    &--blue header {
        background-color: $blue;
    }
    &--blue &__content a {
        border-bottom: 1px solid $blue;
        &:hover {
            color: $blue;
        }
    }

    /*
     *  Green
     */
    &--green blockquote {
        border-color: $green;
    }
    &--green header {
        background-color: $green;
    }
    &--green &__content a {
        border-bottom: 1px solid $green;
        &:hover {
            color: $green;
        }
    }

    /*
     *  Yellow
     */
    &--yellow blockquote {
        border-color: $yellow;
    }
    &--yellow header {
        background-color: $yellow;
    }
    &--yellow &__content a {
        border-bottom: 1px solid $yellow;
        &:hover {
            color: $yellow;
        }
    }

    /*
     *  Red
     */
    &--red blockquote {
        border-color: $red;
    }
    &--red header {
        background-color: $red;    }
    &--red &__content a {
        border-bottom: 1px solid $red;
        &:hover {
            color: $red;
        }
    }
}