.Pagination {
    display: flex;
    margin-top: 80px;

    &__prev, &__next {
        text-align: center;
        width: 50%;
        font-size: 20px;
        text-decoration: none;
        color: #ffffff;
        background-color: lighten($primary, 10%);
        padding: 15px 0;

        &:hover {
            background-color: $primary;
        }
    }

    a.Pagination__next:only-child {
        margin-left: 50%;
    }
}