.Post {
    margin-top: 80px;

    &__header {
        background-color: $red;
        display: flex;
        min-height: 300px;
        flex-direction: column;
        justify-content: space-between;
    }

    &__content {
        font-size: 20px;
        line-height: 30px;
        margin-top: 50px;
    }

    &__content a {
        color: $text_color;
        text-decoration: none;
    }

    &__content {
        font-size: 20px;
        line-height: 30px;
        margin-top: 50px;
    }

    &__content a {
        color: $text_color;
        text-decoration: none;
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 230px;
        font-size: 50px;
        color: #ffffff;
    }

    &__title__link {
        text-decoration: none;
        border-bottom: 2px solid transparent;
        color: #ffffff;

        &:hover {
            border-bottom: 2px solid #ffffff;
            background-color: rgba(255,255,255, 0.3);
        }

        @media $phablet_mq {
            font-size: 30px;
        }
    }

    &__meta__format {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        background-color: #ffffff;
        color: $red;
        font-size: 30px;
        padding: 25px;
    }

    &__meta__author, &__meta__date {
        color: #ffffff;
        margin-left: 50px;

        @media $mobile_mq {
            margin-left: 25px;
        }
    }

    &__meta__author::before, &__meta__date::before {
        margin-right: 10px;
    }

    /*
     * Yellow
     */
    &--yellow &__content a {
        border-bottom: 1px solid $yellow;
        &:hover {
            color: $yellow;
        }
    }
    &--yellow &__header {
        background-color: $yellow;
    }
    &--yellow &__header &__meta__format {
        color: $yellow;
    }

    /*
     * Red
     */
    &--red &__content a {
        border-bottom: 1px solid $red;
        &:hover {
            color: $red;
        }
    }
    &--red &__header {
        background-color: $red;
    }
    &--red &__header &__meta__format {
        color: $red;
    }

    /*
     * Blue
     */
    &--blue &__content a {
        border-bottom: 1px solid $blue;
        &:hover {
            color: $blue;
        }
    }
    &--blue &__header {
        background-color: $blue;
    }
    &--blue &__header &__meta__format {
        color: $blue;
    }

    /*
     * Green
     */
    &--green &__content a {
        border-bottom: 1px solid $green;
        &:hover {
            color: $green;
        }
    }
    &--green &__header {
        background-color: $green;
    }
    &--green &__header &__meta__format {
        color: $green;
    }
}